{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

{% include 'banner.html' with heading="about" %}
{% include 'about/welcome.html' %}
{% include 'features.html' %}
{% include 'about/services.html' %}
{% include 'team.html' %}
{% include 'achievements.html' %}
{% include 'reviews.html' %}



<div class="gap">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Gallery Photos</h6>
            <h2>Pet Care Memories</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-1.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-1.jpg' %}"></figure>
                </div> 
                <div class="about-gallery-img mb-lg-0">
                    <a href="{% static 'assets/img/gallery-img-3.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-3.jpg' %}"></figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-4.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-4.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-5.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-5.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img mb-lg-0">
                    <a href="{% static 'assets/img/gallery-img-6.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-6.jpg' %}"></figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-7.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-7.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img mb-lg-0">
                    <a href="{% static 'assets/img/gallery-img-2.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-2.jpg' %}"></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients-logo">
    <div class="container">
        <div class="logodata owl-carousel owl-theme">
          <div class="partner item">
            <img alt="clients-logo" src="{% static 'assets/img/clients-1.png' %}">
          </div>
          <div class="partner item">
            <img alt="clients-logo" src="{% static 'assets/img/clients-2.png' %}">
          </div>
          <div class="partner item">
            <img alt="clients-logo" src="{% static 'assets/img/clients-3.png' %}">
          </div>
          <div class="partner item">
            <img alt="clients-logo" src="{% static 'assets/img/clients-4.png' %}">
          </div>
          <div class="partner item">
            <img alt="clients-logo" src="{% static 'assets/img/clients-5.png' %}">
          </div>
        </div>
    </div>
</div>
<div class="gap">
    <div class="container">
        <div class="mockup">
            <h3>Register your pet with us and <span>Get 5% off</span> their next order</h3>
            <div class="mockup-img">
                <img src="{% static 'assets/img/mockup.png' %}" alt="mockup">
            </div>
            <div class="mockup-text">
                <p>We are your local dog home boarding service giving you complete</p>
                <a href="#" class="button">Register Now</a>
            </div>
        </div>
</div>
</div>
{% endblock %}