{% load static %} 

<section class="gap">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Find Healthy Product By Category</h6>
            <h2>Browse By Categories</h2>
        </div>
        <div class="row slider-categorie owl-carousel owl-theme">
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-1.png' %}" alt="food-categorie">
                    <a href="our-products.html">Cat Supplies</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-2.png' %}" alt="food-categorie">
                    <a href="our-products.html">Dog Supplies</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-3.png' %}" alt="food-categorie">
                    <a href="our-products.html">Animal Feed</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-4.png' %}" alt="food-categorie">
                    <a href="our-products.html">Accessories</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-5.png' %}" alt="food-categorie">
                    <a href="our-products.html">Horse Care</a>
                </div>
            </div>
        </div>
    </div>
</section>