{% load static %} 

<section class="gap section-healthy-product" style="background-image: url({% static 'assets/img/healthy-product.png' %}); background-color: #f5f5f5;">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Find Healthy Product</h6>
            <h2>Healthy Products</h2>
        </div>
        <div class="row">
        {% for product in featured_products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <img src="{{ product.images.all.first.image.url }}" alt="food">
                        <ul class="star">
                          {% for i in "12345" %}
                            {% if forloop.counter <= product.rating %}
                              <li><i class="fa-solid fa-star"></i></li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                    </div>
                    <span>{{ product.categories.all.first.category }}</span>
                    <a href="{% url 'product-details' product.id %}">{{ product.title }}</a>
                    <h6>${{ product.price }}</h6>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section> 