{% load static %} 

<section class="gap section-healthy-product" style="background-image: url({% static 'assets/img/healthy-product.png' %}); background-color: #f5f5f5;">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Find Healthy Product</h6>
            <h2>Healthy Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-1.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                    </div>
                    <span>Animal Feed</span>
                    <a href="our-products.html">Procan Adult Dog Food</a>
                    <h6>$32.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-2.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                        <h4>-24%</h4>
                    </div>
                    <span>Animal Feed</span>
                    <a href="our-products.html">Best Organic Feeds</a>
                    <h6><del>$32.00</del>$22.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-3.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                    </div>
                    <span>Animal Feed</span>
                    <a href="our-products.html">Green Papaya Fruit</a>
                    <h6>$32.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-4.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                        <h4>-24%</h4>
                    </div>
                    <span>Animal Feed</span>
                    <a href="our-products.html">KMR Pwdr 12oz</a>
                    <h6><del>$32.00</del>$22.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="healthy-product mb-lg-0">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-5.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                        <h4>-24%</h4>
                    </div>
                    <span>Animal Feed</span>
                    <a href="our-products.html">Cattle Feed</a>
                    <h6><del>$32.00</del>$22.00</h6>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="deal-of-the-week">
                    <div class="healthy-product-img">
                        <h6>Deal of the Week</h6>
                        <img src="{% static 'assets/img/food-6.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="healthy-product">
                        <span>Animal Feed</span>
                        <a href="our-products.html">Healthy Dog Food Roaster Chicken</a>
                        <h6><del>$32.00</del>$22.00</h6>
                        <h5>up to 14% off</h5>
                        <div class="add-to-cart">
                          <a href="#" class="button">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                        <div id="countdown">
                            <ul>
                              <li><span id="days"></span>days</li>
                              <li><span id="hours"></span>Hour</li>
                              <li><span id="minutes"></span>Min</li>
                              <li class="mb-0"><span id="seconds"></span>Sec</li>
                            </ul>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 