{% load static %} 

<section class="hero-section" style="background-color: #fff8e5; background-image:url({% static 'assets/img/background.png' %})">
    <div class="container">
        <div class="row hero-one-slider owl-carousel owl-theme">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            <h1>Take a Good Care of Pets</h1>
                            <h3>We are your local dog home boarding service giving you complete</h3>
                            <a href="contact.html" class="button">Get Appointment</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img">
                            <img src="{% static 'assets/img/hero-img-1.png' %}" alt="img">
                            <img src="{% static 'assets/img/hero-shaps.png' %}" alt="hero-shaps" class="img-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            <h1>Healthy Pets, Happy People</h1>
                            <h3>We are your local dog home boarding service giving you complete</h3>
                            <a href="contact.html" class="button">Get Appointment</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img">
                            <img src="{% static 'assets/img/slide-3.png' %}" alt="img">
                            <img src="{% static 'assets/img/hero-shaps.png' %}" alt="hero-shaps" class="img-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            <h1>Take a Good Care of Pets</h1>
                            <h3>We are your local dog home boarding service giving you complete</h3>
                            <a href="contact.html" class="button">Get Appointment</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img">
                            <img src="{% static 'assets/img/slide-2.png' %}" alt="img">
                            <img src="{% static 'assets/img/hero-shaps.png' %}" alt="hero-shaps" class="img-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'assets/img/hero-shaps-1.png' %}" alt="hero-shaps" class="img-2">
    <img src="{% static 'assets/img/dabal-foot-1.png' %}" alt="hero-shaps" class="img-3">
    <img src="{% static 'assets/img/hero-shaps-1.png' %}" alt="hero-shaps" class="img-4">
</section> 