{% extends "base.html" %}
{%load static %}

{% block title %} Home {% endblock %}


{% block content %}

{% include 'home/hero_slider.html' %}
{% include 'features.html' %}
{% include 'home/welcome.html' %}
{% include 'home/categories.html' %}
{% include 'home/healthy_products.html' %}
{% include 'achievements.html' %}
{% include 'team.html' %}
{% include 'home/find_branch.html' %}
{% include 'reviews.html' %}
{% include 'home/recent_articles.html' %}
{% include 'follow.html' %}





{% endblock %}
