{% load static %}

<section class="gap no-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="welcome-to">
                    <h2>Welcome to The Pet Care Company</h2>
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do eiusmod tempor incididunt ut labore et.Lorem ipsumsit amet, consectetur adipiscing elit, sed do eiusmod teincididunt ut laamet,consectetur adipiscing elibore et.Lorem ipsum dolor sit amet,consectetur adipiscing elit do eiusmod tempor incididunt ut labore et.Lorem ipsumsit amet, consectetur adipiscing elit, sed do eiusmod teincididunt ut laamet,consectetur adipiscing elibore et.Lorem ipsum dolor sit amet,consectetur adipiscing elit do eiusmod tempor incididunt ut labore et.Lorem ipsumsit amet, consectetur adipiscing elit, sed do eiusmod teincididunt ut laamet,consectetur adipiscing elibore et.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dog-walker two d-block">
                    <img src="{% static 'assets/img/puppies.png' %}" class="puppies" alt="puppies">
                    <img src="{% static 'assets/img/dog-walker-1.png' %}" class="w-100" alt="dog walker">
                    <img src="{% static 'assets/img/line.png' %}" class="line" alt="line">
                    <img src="{% static 'assets/img/dabal-foot.png' %}" class="dabal-foot" alt="dabal-foot">
                    <img src="{% static 'assets/img/haddi.png' %}" class="haddi" alt="haddi">
                </div>
            </div>
        </div>
    </div>
</section> 