{% load static %} 

<section class="gap no-bottom">
  <div class="container">
    <div class="row product-info-section">
      <div class="col-lg-7 p-0">
        <div class="pd-gallery">
          <ul class="pd-imgs">
            {% for img in product.images.all %}
                <li class="li-pd-imgs nav-active">
                    <a href="JavaScript:void(0)">
                      <img alt="toys" src="{{ img.image.url }}">
                    </a>
                </li>
              {% endfor %}
            </ul>
            <div class="pd-main-img">
              <img id="NZoomImg" alt="toys" src="{{ product.images.all.first.image.url }}" >              
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="product-info p-60">
          <div class="d-flex align-items-center">
            <div class="start d-flex align-items-center">
              {% for i in "12345" %}
                {% if forloop.counter <= product.rating %}
                  <i class="fa-solid fa-star"></i>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <h3>{{ product.title }}</h3>
          <form class="variations_form">
            <div class="stock">
            <span class="price">
              <del>
              <span class="woocommerce-Price-amount">
              <bdi>
                <span class="woocommerce-Price-currencySymbol">$</span> {{product.price}} </bdi>
              </span>
              </del>
              <ins>
                  <span class="woocommerce-Price-amount amount">
                    <bdi>
                    <span class="woocommerce-Price-currencySymbol">$</span> {{product.price}} </bdi>
                  </span>
                </ins> 
            </span>
            <h6>
              {% if product.stocks >= 1 %}
                <span>In stock</span>
              {% else %}
                <span>Out of stock</span>
              {% endif %}
            </h6>
            </div>
            {% comment %} <div class="quantity">
                  <h6>Quantity</h6>
              <input type="number" class="input-text" step="1" min="1" name="quantity" value="1">
                </div> {% endcomment %}
                <div class="add-to-cart">
                  <a href="{% url 'add-to-cart' product.id %}" class="button">Add to Cart</a>
                </div>
            <ul class="product_meta">
                <li><span class="theme-bg-clr">Category:</span>
                  <ul class="pd-cat">
                    <li>
                    {% for cat in product.categories.all %}
                      <a href="{% url 'category-products' cat.slug %}">{{ cat.name }}</a>{% if not forloop.last %},{% endif%}
                      {% empty %}
                        None.
                    {% endfor %}
                    </li>          
                  </ul>
                </li>
                <li><span class="theme-bg-clr">Tags:</span>
                  <ul class="pd-tag">
                     <li>
                    {% for tag in product.tags.all %}
                      <a href="#">{{ tag.name }}</a>{% if not forloop.last %},{% endif%}
                      {% empty %}
                        None.
                    {% endfor %}
                    </li>   
                  </ul>
                </li>
              </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>