{% load static %} 

<section class="gap">
  <div class="container">
    <div class="information">
      <h3>Product Description</h3>
      <div class="boder-bar"></div>
      <p>{{ product.description }}</p>
    </div>
      <div class="row mt-5">
        <div class="col-lg-7">
            <div class="information">
              <h3>Related Products</h3>
              <div class="boder-bar"></div>
              <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do eiusmosed do eiusmod teincididunt ut la amet,consectetur adipiscing elib incididunt ut labore et.Lorem ipsumsit amet, consec</p>
              <div class="row mt-md-5">
                <div class="col-lg-6 col-md-6">
                                <div class="pet-grooming">
                                <i><img src="{% static 'assets/img/welcome-to-1.png' %}" alt="icon"></i>
                                <svg width="138" height="138" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#940c69"></path>
                                </svg>
                                <a href="#"><h4>Pet Grooming</h4></a>
                                <p>Lorem ipsum dolor sit amet ur adipiscing elit, sed do eiu incididunt ut labore et.</p>
                                </div>
                </div>
                <div class="col-lg-6 col-md-6">
                                <div class="pet-grooming">
                                <i><img src="{% static 'assets/img/welcome-to-2.png' %}" alt="icon"></i>
                                <svg width="138" height="138" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#940c69"></path>
                                </svg>
                                <a href="#"><h4>Dog Walking</h4></a>
                                <p>Lorem ipsum dolor sit amet ur adipiscing elit, sed do eiu incididunt ut labore et.</p>
                                </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="looking video position-relative">
                        <svg class="golo" width="510" height="510" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#000"/>
                        </svg>
                        <a data-fancybox="" href="https://www.youtube.com/watch?v=xKxrkht7CpY">
                            <i>
                              <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11 8.49951L0.5 0.27227L0.5 16.7268L11 8.49951Z" fill="#000"></path>
                              </svg>
                            </i>
                        </a>
                        <img src="{% static 'assets/img/dog-video-1.jpg' %}" alt="img">
          </div>
        </div>
      </div>
      <div class="information mt-70">
      <h3>Nutritional Info</h3>
      <div class="boder-bar"></div>
      <ul class="specification">
        <li><h6>Vitamin E</h6>{{product.vitamin_e}} IU/kg</li>
        <li><h6>Glucosamine</h6>{{product.glucosamine}} mg/kg*</li>
        <li><h6>Crude Protein</h6>{{product.crude_protein}}%</li>
        <li><h6>Moisture </h6>{{product.moisture}}%</li>
      </ul>
    </div>
    <div class="information mt-70">
      <h3>Feeding Guidelines</h3>
      <div class="boder-bar"></div>
      <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Weight of Dog</th>
          <th scope="col">Cups Per Day</th>
          <th scope="col">Mix With Pouch</th>
        </tr>
      </thead>
      <tbody>
        {% for guideline in product.feeding_guidelines.all %}
          <tr>
            <td class="noBorder">Up to {{guideline.weight}} lb</td>
            <td class="noBorder">{{guideline.cups}}</td>
            <td class="noBorder">{{guideline.mix_with}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
    <div class="row mt-70">
      <div class="col-lg-7">
        <div class="information ">
          <h3>Reviews</h3>
          <div class="boder-bar"></div>
        </div>
        <ul class="reviews">
          {% for review in product.reviews.all %}
            <li>
              <div>
                <img alt="img" src="{% static 'assets/img/reviews-1.jpg' %}">
              </div>
              <div>
                <div class="d-flex align-items-center">
                  <h4>{{review.user}}</h4>
                  <span>{{review.posted_at}}</span>
                </div>
                <p>{{review.body}}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
        <ul class="pagination">
                  <li class="prev"><a href="#"><i class='fa-solid fa-arrow-left'></i></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">......</a></li>
                  <li><a href="#">18</a></li>
                  <li class="next"><a href="#"><i class='fa-solid fa-arrow-right'></i></a></li>
               </ul>
      </div>
      <div class="col-lg-5">
        <form class="add-review comment leave-comment">
          <div class="information">
            <h3>Leave Your Review</h3>
            <div class="boder-bar"></div>
            <div class="d-flex align-items-center mb-4">
            <span>Select Rating:</span>
              <div class="start d-flex align-items-center ps-md-4">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
              <input type="text" name="name" placeholder="Complate Name">
              <input type="text" name="Email" placeholder="Email Address">
            <textarea placeholder="Add Review"></textarea>
              <button class="button">Add Review
              </button>
        </form>
      </div>
    </div>
  </div>
</section>