{% load static %} 

<section class="gap">
  <div class="container">
    <div class="information">
      <h3>Product Description</h3>
      <div class="boder-bar"></div>
      <p>{{ product.description }}</p>
    </div>
      <div class="information mt-70">
      <h3>Nutritional Info</h3>
      <div class="boder-bar"></div>
      <ul class="specification">
        <li><h6>Vitamin E</h6>{{product.vitamin_e}} IU/kg</li>
        <li><h6>Glucosamine</h6>{{product.glucosamine}} mg/kg*</li>
        <li><h6>Crude Protein</h6>{{product.crude_protein}}%</li>
        <li><h6>Moisture </h6>{{product.moisture}}%</li>
      </ul>
    </div>
    <div class="information mt-70">
      <h3>Feeding Guidelines</h3>
      <div class="boder-bar"></div>
      <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Weight of Dog</th>
          <th scope="col">Cups Per Day</th>
          <th scope="col">Mix With Pouch</th>
        </tr>
      </thead>
      <tbody>
        {% for guideline in product.feeding_guidelines.all %}
          <tr>
            <td class="noBorder">Up to {{guideline.weight}} lb</td>
            <td class="noBorder">{{guideline.cups}}</td>
            <td class="noBorder">{{guideline.mix_with}}</td>
          </tr>
        {% empty %}
            <h6>No Data found.</h6>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
    <div class="row mt-70">
      <div class="col-lg-7">
        <div class="information ">
          <h3>Reviews</h3>
          <div class="boder-bar"></div>
        </div>
        <ul class="reviews">
          {% for review in product.reviews.all %}
            <li>
              <div>
                <img alt="img" src="{% static 'assets/img/reviews-1.jpg' %}">
              </div>
              <div>
                <div class="d-flex align-items-center">
                  <h4>{{review.user}}</h4>
                  <span>{{review.posted_at}}</span>
                </div>
                <p>{{review.body}}</p>
              </div>
            </li>
          {% empty %}
            <h6>No reviews yet.</h6>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>