{% extends 'base.html' %}
{% load static %} 

{% block title %} Our Products {% endblock %} 

{% block content %} 

{% include 'banner.html' with heading="Our Products" %}

<section class="gap products-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar">
            <h3>Category</h3>
            <div class="boder-bar"></div>
            <ul class="category">
            {% for cat in categories %}
              <li>
                <a href="{% url 'category-products' cat.slug %}">{{ cat.name }}<span>{{ cat.product_count }}</span></a>
              </li>
            {% endfor %}
            </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="items-number">
          <span>Items {{page_obj.start_index}} - {{page_obj.end_index}} of {{page_obj.paginator.count}}</span>
        </div>
        <div class="row">
          {% for product in page_obj %}
            <div class="col-md-4 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <img src="{{ product.images.all.first.image.url }}" alt="product image">                        
                        <ul class="star">
                          {% for i in "12345" %}
                            {% if forloop.counter <= product.rating %}
                              <li><i class="fa-solid fa-star"></i></li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                        <div class="add-to-cart">
                          <a href="{% url 'add-to-cart' product.id %}">Add to Cart</a>
                        </div>
                    </div>
                    <span>{{product.categories.all.first.name}}</span>
                    <a href="{% url 'product-details' product.id %}">{{product.title}}</a>
                    <h6>${{product.price}}</h6>
                </div>
            </div>
          {% empty %}
            <h6> No Products Found. </h6>
          {% endfor %}
          
          <div>
          <ul class="pagination m-auto">

          <!-- Previous Page Arrow -->
          {% if page_obj.has_previous %}
              <li class="prev">
                  <a href="?page={{ page_obj.previous_page_number }}">
                      <i class="fa-solid fa-arrow-left"></i>
                  </a>
              </li>
          {% else %}
              <li class="prev disabled">
                  <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
              </li>
          {% endif %}

          <!-- Dynamic Page Numbers -->
          {% for page_num in page_obj.paginator.page_range %}
              {% if page_obj.number == page_num %}
                  <!-- Active/Current Page -->
                  <li class="active">
                      <a href="?page={{ page_num }}">{{ page_num }}</a>
                  </li>
              {% else %}
                  <!-- Other Pages -->
                  <li>
                      <a href="?page={{ page_num }}">{{ page_num }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          <!-- Next Page Arrow -->
          {% if page_obj.has_next %}
              <li class="next">
                  <a href="?page={{ page_obj.next_page_number }}">
                      <i class="fa-solid fa-arrow-right"></i>
                  </a>
              </li>
          {% else %}
              <li class="next disabled">
                  <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </li>
          {% endif %}

          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}