{% load static %} 

<section class="gap no-top products-section">
  <div class="container">
    <div class="information">
      <h3>Related Products</h3>
      <div class="boder-bar"></div>
    </div>
    <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product mb-lg-0">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-1.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                    </div>
                    <span>Animal Feed</span>
                    <a href="#">Procan Adult Dog Food</a>
                    <h6>$32.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product mb-lg-0">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-2.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                        <h4>-24%</h4>
                    </div>
                    <span>Animal Feed</span>
                    <a href="#">Best Organic Feeds</a>
                    <h6><del>$32.00</del>$22.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product mb-lg-0">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-3.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                    </div>
                    <span>Animal Feed</span>
                    <a href="#">Green Papaya Fruit</a>
                    <h6>$32.00</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product mb-0">
                    <div class="healthy-product-img">
                        <img src="{% static 'assets/img/food-4.png' %}" alt="food">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart">
                          <a href="#">Add to Cart</a>
                          <a href="#" class="heart-wishlist">
                            <i class="fa-regular fa-heart"></i>
                          </a>
                        </div>
                        <h4>-24%</h4>
                    </div>
                    <span>Animal Feed</span>
                    <a href="#">KMR Pwdr 12oz</a>
                    <h6><del>$32.00</del>$22.00</h6>
                </div>
            </div>
        </div>
  </div>
</section>