{% extends 'base.html' %}
{% load static %} 

{% block title %} Cart {% endblock %} 

{% block content %}

{% include 'banner.html' with heading="Shop Cart" %}


<section class="gap">
    <div class="container">
        <div class="row">
          <form class="woocommerce-cart-form">
            <div style="overflow-x:auto;overflow-y: hidden;">
              <table class="shop_table table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td class="product-remove">
                                <a href="{% url 'remove-from-cart' item.product.id %}"><i class="fa-solid fa-x"></i></a>
                            </td>
                            <td class="product-name">
                                <img alt="img" src="{{ item.product.images.all.first.image.url }}">
                                <div>
                                    <a href="#">{{item.product.title}}</a>
                                </div>
                            </td>
                            <td class="product-price">
                                <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>{{item.product.price}}</bdi>
                                <del>${{item.product.price}}</del>
                                </span>          
                            </td>
                            <td class="product-quantity product-price">
                                <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol"></span>{{item.quantity}}</bdi></span>
                            </td>
                            <td class="product-subtotal">
                                <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>{{item.get_total_price}}</bdi></span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
              </table>
            </div>
                <div class="row mt-lg-5">
                    <div class="col-lg-7">
                        <div class="cart_totals">
                            <h4>Payment Total</h4>
                            <table class="shop_table_responsive">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal:</th>
                                        <td>
                                            <span class="woocommerce-Price-amount">
                                            <bdi>
                                                <span class="woocommerce-Price-currencySymbol">$</span>{{cart_total}}
                                            </bdi>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="Shipping">
                                        <th>Shipping:</th>
                                        <td>
                                            <span class="woocommerce-Price-amount amount">
                                                free
                                            </span>
                                         </td>
                                    </tr>
                                    <tr class="Total">
                                        <th>Total:</th>
                                        <td>
                                            <span class="woocommerce-Price-amount">
                                            <bdi>
                                                <span>$</span>{{cart_total}}
                                            </bdi>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="wc-proceed-to-checkout">
                                 <a href="{% url 'checkout' %}" class="button">Proceed to checkout</a>
                            </div>
                    </div>
                </div>
          </form>
        </div>
    </div>
</section>

{% endblock %}