{% extends 'base.html' %}
{% load static %} 

{% block title %} Checkout {% endblock %} 

{% block content %} 

{% include 'banner.html' with heading="Checkout" %}

<section class="gap"> 
    <div class="container">
        <form class="checkout-meta donate-page" method="POST" action="{% url 'checkout' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing details</h3>
                        <div class="col-lg-12">
                            <input type="text" class="input-text " name="billing_first_name" placeholder="First Name"  value="{{ address_info.first_name|default:user.first_name}}">
                            <input type="text" class="input-text " name="billing_last_name" placeholder="Last Name"  value="{{ address_info.last_name|default:user.last_name }}">
                            <input type="email" class="input-text " name="billing_email" placeholder="Email address" value="{{ address_info.email|default:user.email }}">
                            <select name="billing_country" class="nice-select Advice country_to_state">
                                <option>Country</option>
                                <option value="Bangladesh" {% if address_info.country == 'Bangladesh' %}selected{% endif %}>Bangladesh</option>
                            </select>
                            <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="input-text " name="city" placeholder="City" value="{{ address_info.city|default:'' }}" required>
                            </div>
                            <div class="col-lg-6">
                               <input type="text" class="input-text " name="division" placeholder="Division" value="{{ address_info.division|default:'' }}" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Postal_Code" placeholder="Postal Code" value="{{ address_info.post_code|default:'' }}" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="tel" class="input-text " name="billing_phone"  placeholder="Phone" value="{{ address_info.phone|default:'' }}" required>
                            </div>
                            </div>
                            <input type="text" name="Address" placeholder="Address" value="{{ address_info.address|default:'' }}" required>
                        </div>
                </div>
            </div>
            <div class="row mt-lg-5">
                <div class="col-lg-6">
                        <div class="cart_totals cart-Total">
                            <h4>Cart Total</h4>
                            <table class="shop_table_responsive">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal:</th>
                                        <td>
                                            <span class="woocommerce-Price-amount">
                                            <bdi>
                                                <span class="woocommerce-Price-currencySymbol">$</span>{{cart_totals|default:0.00}}
                                            </bdi>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="Shipping">
                                        <th>Shipping:</th>
                                        <td>
                                            <span class="woocommerce-Price-amount amount">
                                                free
                                            </span>
                                         </td>
                                    </tr>
                                    <tr class="Total">
                                        <th>Total:</th>
                                        <td>
                                            <span class="woocommerce-Price-amount">
                                            <bdi>
                                                <span>$</span>{{cart_totals | default:0.00}}
                                            </bdi>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-side">
                        <h3>Payment Method</h3>
                        <ul>
                            <li>
                                <input type="radio" id="Cash_On_Delivery" name="Cash_On_Delivery" value="Cash On Delivery" checked>
                                <label for="Bank_Payment">
                                        Cash On Delivery
                                </label>
                            </li>
                        </ul>
                        <button type="submit" class="button">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}