{% load static %} 

<section class="gap position-relative" style="background-image: url({% static 'assets/img/client-b.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading two w-100">
                    <h6>laundry faq's</h6>
                    <h2>Pet Benefits of Membership</h2>
                </div>
                <div class="accordion">
                    <div class="accordion-item">
                        <a href="#" class="heading">
                            <div class="icon"></div>
                            <div class="title">Stand out from your competitors</div>
                        </a>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do ei amet,consectetur adipiscing elibore et Lorem ipsum dolor sit amet,consectetur.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item active">
                        <a href="#" class="heading" >
                            <div class="icon"></div>
                            <div class="title">Save costs with partner discounts</div>
                        </a>

                        <div class="content" style="display: block;">
                            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do ei amet,consectetur adipiscing elibore et Lorem ipsum dolor sit amet,consectetur.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <a href="#" class="heading">
                            <div class="icon"></div>
                            <div class="title">Monthly flea and worming treatments</div>
                        </a>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do ei amet,consectetur adipiscing elibore et Lorem ipsum dolor sit amet,consectetur.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <a href="#" class="heading">
                            <div class="icon"></div>
                            <div class="title">Discounts on pet food and medication</div>
                        </a>

                        <div class="content">
                            <p>Dry cleaning is always gently takes about 3-4 hours on average. The cleaning time depends on the material type, garment dirtiness, and other things.er, but for your more durable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <div class="faq-img">
                            <img src="{% static 'assets/img/faq-1.jpg' %}" alt="faq">
                            <img src="{% static 'assets/img/faq-3.jpg' %}" alt="faq">
                            <img src="{% static 'assets/img/faq-5.jpg' %}" alt="faq">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="faq-img two">
                            <img src="{% static 'assets/img/faq-2.jpg' %}" alt="faq">
                            <img src="{% static 'assets/img/faq-4.jpg' %}" alt="faq">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/img/faq-shaps.png' %}" alt="faq-shaps" class="faq-shaps">
    </div>
</section>