{% load static %} 

<div class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-1.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-1.jpg' %}"></figure>
                </div> 
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-3.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-3.jpg' %}"></figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-4.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-4.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-5.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-5.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-6.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-6.jpg' %}"></figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-7.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-7.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img ">
                    <a href="{% static 'assets/img/gallery-img-2.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-2.jpg' %}"></figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-1.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-1.jpg' %}"></figure>
                </div> 
                <div class="about-gallery-img mb-lg-0">
                    <a href="{% static 'assets/img/gallery-img-3.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-3.jpg' %}"></figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-8.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-8.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img mb-lg-0">
                    <a href="{% static 'assets/img/gallery-img-5.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-5.jpg' %}"></figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-gallery-img">
                    <a href="{% static 'assets/img/gallery-img-7.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-7.jpg' %}"></figure>
                </div>
                <div class="about-gallery-img mb-lg-0">
                    <a href="{% static 'assets/img/gallery-img-2.jpg' %}" data-fancybox="gallery">
                       <i class="fa-solid fa-plus"></i>
                    </a><figure><img alt="girl" src="{% static 'assets/img/gallery-img-2.jpg' %}"></figure>
                </div>
            </div>
        </div>
    </div>
</div>