{% load static %} 

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="find-a-dog contact">
                    <h2>Find a dog walker or pet care</h2>
                    <p>Place your trust in We Love Pets, an award-winning dog walking and pet care</p>
                    <form>
                        <input type="text" name="Enter" placeholder="Enter address or postcode...">
                        <button class="button">Find Branch</button>
                    </form>
                    <div class="head-office">
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-location-dot"></i>
                            <h6>Head Office United State:</h6>
                        </div>
                        <p>#201 1218 9th Avenue SE, Calgary, AB T2G 0T1</p>
                    </div>
                    <div class="head-office mb-lg-0">
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-location-dot"></i>
                            <h6>Head Office United State:</h6>
                        </div>
                        <p>#201 1218 9th Avenue SE, Calgary, AB T2G 0T1</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="looking position-relative contact">
                    <form class="looking-form">
                        <h3>Book Your Place or Find out More</h3>
                        <ul>
                          <li>
                            <input type="radio" id="f-option" name="selector">
                            <label for="f-option">dog</label>
                            <div class="check"></div>
                          </li>
                          <li>
                            <input type="radio" id="s-option" name="selector">
                            <label for="s-option">cat</label>
                            <div class="check"><div class="inside"></div></div>
                          </li>
                        </ul>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="Complete Name" placeholder="Complete Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Email Address" placeholder="Email Address">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Complete Name" placeholder="Complete Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Email Address" placeholder="Email Address">
                            </div>
                            <div class="col-lg-12">
                                <select class="nice-select Advice">
                                    <option>Select Service</option>
                                    <option>Services 1</option>
                                    <option>Services 2</option>
                                    <option>Services 3</option>
                                    <option>Services 4</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Complete Name" placeholder="Complete Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="Email Address" placeholder="Email Address">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Please let us know which day package you're interested"></textarea>
                            </div>
                        </div>
                        <button class="button">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>