{% load static %} 

<section class="gap">
    <div class="container">
        <div class="insta-img">
            <h3><i class="fa-brands fa-instagram"></i>Follow @domain.com</h3>
            <a href="#" class="button">Follow Us</a>
        </div>
            <ul class="image-gallery">
              <li>
                <a href="{% static 'assets/img/gallery-1.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-1.jpg' %}"></figure></a>
              </li>
              <li>
                <a href="{% static 'assets/img/gallery-2.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-2.jpg' %}"></figure></a>
              </li>
              <li>
                <a href="{% static 'assets/img/gallery-3.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-3.jpg' %}"></figure></a>
              </li>
              <li>
                <a href="{% static 'assets/img/gallery-4.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-4.jpg' %}"></figure></a>
              </li>
              <li>
                <a href="{% static 'assets/img/gallery-5.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-5.jpg' %}"></figure></a>
              </li>
              <li>
                <a href="{% static 'assets/img/gallery-6.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-6.jpg' %}"></figure></a>
              </li>
              <li>
                <a href="{% static 'assets/img/gallery-7.jpg' %}" data-fancybox="gallery"><figure><img alt="girl" src="{% static 'assets/img/gallery-7.jpg' %}"></figure></a>
              </li>
            </ul>
    </div>
</section>