{% load static %} 

<section class="gap">
    <div class="container">
        <div class="mockup">
            <h3>Register your pet with us and <span>Get 5% off</span> their next order</h3>
            <div class="mockup-img">
                <img src="{% static 'assets/img/mockup.png' %}" alt="mockup">
            </div>
            <div class="mockup-text">
                <p>We are your local dog home boarding service giving you complete</p>
                <a href="#" class="button">Register Now</a>
            </div>
        </div>
    </div>
</section>