{% load static %} 

<section class="awards-section gap" style="background-image:url({% static 'assets/img/client-b.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="welcome-to">
                    <h2>Award winning dog sitting from Patte</h2>
                </div>
                <div class="love-your-pets">
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit do eimet,consectetur adipiscing elibore et.</p>
                    <ul class="list">
                        <li><img src="{% static 'assets/img/list.png' %}" alt="list">Graceful goldfish, to small, cute kittens</li>
                        <li><img src="{% static 'assets/img/list.png' %}" alt="list">Feeders are either veterinary qualified staf</li>
                        <li><img src="{% static 'assets/img/list.png' %}" alt="list">Experienced pet owners and animal lovers</li>
                        <li><img src="{% static 'assets/img/list.png' %}" alt="list">Hungry horses: whatever the size of your pe</li>
                    </ul>
                    <div class="awards two">
                        <img src="{% static 'assets/img/awards-1.png' %}" alt="awards">
                        <img src="{% static 'assets/img/awards-2.png' %}" alt="awards">
                        <img src="{% static 'assets/img/awards-3.png' %}" alt="awards">
                        <img src="{% static 'assets/img/awards-4.png' %}" alt="awards">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dog-walker two d-block">
                    <img src="{% static 'assets/img/dog-walker-1.png' %}" alt="dog walker">
                    <img src="{% static 'assets/img/line.png' %}" class="line" alt="line">
                </div>
            </div>
        </div>
    </div>
</section>