{% load static %} 

<section class="gap">
  <div class="container">
    <div class="find-a-dog two">
        <i><img src="{% static 'assets/img/works-1.png' %}" alt="works"></i>
        <h2>Find a dog walker or pet care</h2>
        <p>Place your trust in We Love Pets, an award-winning dog walking and pet care</p>
        <form class="mb-0">
          <input type="text" name="Enter" placeholder="Enter address or postcode...">
          <button class="button">Find Branch</button>
        </form>
        <img src="{% static 'assets/img/shaps-golo.png' %}" alt="shaps" class="img-1">
        <img src="{% static 'assets/img/haddi.png' %}" alt="hero-shaps" class="img-2">
        <img src="{% static 'assets/img/dabal-foot-2.png' %}" alt="hero-shaps" class="img-3">
        <img src="{% static 'assets/img/haddi.png' %}" alt="hero-shaps" class="img-4">
    </div>
  </div>
</section>